[submodule "submodules/macaw"]
	path = submodules/macaw
	url = git@github.com:GaloisInc/macaw.git
[submodule "submodules/bv-sized"]
	path = submodules/bv-sized
	url = git@github.com:GaloisInc/bv-sized.git
[submodule "submodules/softfloat-hs"]
	path = submodules/softfloat-hs
	url = git@github.com:GaloisInc/softfloat-hs.git
[submodule "submodules/bv-sized-float"]
	path = submodules/bv-sized-float
	url = git@github.com:GaloisInc/bv-sized-float.git
[submodule "submodules/grift"]
	path = submodules/grift
	url = git@github.com:GaloisInc/grift.git
[submodule "submodules/parameterized-utils"]
	path = submodules/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
[submodule "submodules/elf-edit"]
	path = submodules/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "submodules/flexdis86"]
	path = submodules/flexdis86
	url = git@github.com:GaloisInc/flexdis86.git
[submodule "submodules/dwarf"]
	path = submodules/dwarf
	url = git@github.com:GaloisInc/dwarf.git
